# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

vendor
*.img
bin
.vscode
.DS_Store
.env
kube.conf

#Vim tmp files
*~

#Idea IDE files
.idea

c.out
dist
kubernetes-zfs-provisioner
.zpool
