[Unit]
Description=Kubernetes ZFS volume provisioner
After=nfs-server.service nfs-kernel-server.service kubelet.service k3s.service

[Service]
TimeoutStartSec=0
Restart=on-failure
ExecStart=/usr/local/bin/kubernetes-zfs-provisioner

[Install]
WantedBy=multi-user.target
