---
name: Release

on:
  push:
    tags:
    - "*"

env:
  GO_VERSION: "^1.14.3"

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Login to Docker hub
        run: docker login -u "${{ secrets.DOCKER_HUB_USER }}" -p "${{ secrets.DOCKER_HUB_TOKEN }}"
      - name: Login to Quay.io
        run: docker login -u "${{ secrets.QUAY_IO_USER }}" -p "${{ secrets.QUAY_IO_TOKEN }}" quay.io
      - uses: goreleaser/goreleaser-action@v1
        with:
          args: release --release-footer=.github/release-footer.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
